.navbar-nav {
    background: transparent;
}

#navbarNav{
    justify-content: center;
}

#navbarNav .navbar-nav .nav-item{
    font: 300 3rem ;
    
}
#navbarNav .social-midia {
    bottom: 2rem;
    display: flex;
    justify-content: flex-start;
}

#navbarNav .social-midia a{
    text-decoration-line: none;
}
#navbarNav .social-midia a:hover{
    opacity: 0.5;
}

#navbarNav .social-midia i{
    color: #555;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
